* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
}

.black {
  color: black;
}

.App {
  text-align: center;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: hsl(0, 96%, 45%);
  cursor: pointer;
}

.completed {
  color: hsl(155, 96%, 31%);
  text-decoration: line-through;
  cursor: pointer;
}
