@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tilt+Neon&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 59%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
}

.black {
  color: black;
}

.App {
  text-align: center;
}

h1 {
  color: hsl(0, 4%, 90%);
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  letter-spacing: 5px;
  font-family: "Libre Baskerville", serif;
}

.TodoWrapper {
  background: #242424;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  border: 2px solid white;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid hsl(170, 56%, 53%);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: hsl(0, 7%, 81%);
}

.todo-input::placeholder {
  color: hsla(0, 5%, 92%, 0.602);
}

.todo-btn {
  background: hsl(170, 56%, 53%);
  color: hsl(0, 2%, 25%);
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(240, 4%, 55%);
  color: hsl(0, 0%, 11%);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: hsl(0, 73%, 35%);
  cursor: pointer;
}

.completed {
  color: hsl(155, 94%, 18%);
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

input {
  border-radius: 10px;
}

